<a routerLink="/">
  <i class="fa fa-arrow-circle-o-left"></i>
  Back to Dashboard
</a>

<div class="card">
  <div class="card-header">
    Edit settings
  </div>
  <div class="card-body mt-3">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Allow Registration</label>
        <input type="checkbox"
               name="allowRegistration"
               [checked]="settings.allowRegistration"
               (change)="settings.allowRegistration = !settings.allowRegistration"
        >
      </div>
      <div class="form-group">
        <label>Disable Balance On Add</label>
        <input type="checkbox"
               name="disableBalanceOnAdd"
               [checked]="settings.disableBalanceOnAdd"
               (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd"
        >
      </div>
      <div class="form-group">
        <label>Disable Balance On Edit</label>
        <input type="checkbox"
               name="disableBalanceOnEdit"
               [checked]="settings.disableBalanceOnEdit"
               (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit"
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
