<div class="row">
  <div class="clo-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-4 mt-4">
          <span class="text-primary"><i class="fa fa-lock"></i> Client Panel</span> Login
        </h1>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   [(ngModel)]="email"
                   #clientEmail="ngModel"
                   [ngClass]="{'is-invalid': clientEmail.errors && clientEmail.touched}"
                   required email
            >
            <div class="invalid-feedback" [hidden]="!clientEmail.errors?.required">
              Email is required
            </div>
            <div class="invalid-feedback" [hidden]="!clientEmail.errors?.email">
              Must be example@example.com
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   name="password"
                   [(ngModel)]="password"
                   #clientPassword="ngModel"
                   [ngClass]="{'is-invalid': clientPassword.errors && clientPassword.touched}"
                   required
            >
            <div class="invalid-feedback" [hidden]="!clientPassword.errors?.required">
              Password is required
            </div>
          </div>
          <button class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
